<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- Application specific logging -->
    <logger name="app.mosia" level="INFO"/>
    
    <!-- Kafka client logging - reduce verbosity -->
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="kafka" level="WARN"/>
    
    <!-- ZIO Kafka logging -->
    <logger name="zio.kafka" level="WARN"/>
    
    <!-- Other third party libraries -->
    <logger name="org.apache.http" level="WARN"/>
    <logger name="org.postgresql" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>